body{
    margin: 0;
    padding: 0;
}
input {
    width: 100%;
    line-height: 32px;
    border-radius: 10px;
    text-align: center; 
}


.main_container {
    margin: 150px auto;
    width: 500px;
    height: 500px;
    border: 3px solid #2c989e;
    padding: 10px;
    border-radius: 2%; 
}

.list {
    margin: auto;
    width: 80%;
    height: 50px;
    /* border: 3px solid green; */
    padding: 10px;
}

h2{
    margin:5px;
    text-align: center;
}


.button{
     margin-top: 50px;
     text-align: center;
 
}

.btn{
    background-color: #2c989e;
     color: black;
     font-size: 28px;
     padding: 16px 30px; 
     border: none;
     cursor: pointer;
     border-radius: 5px;
     text-align: center;
}
.btn:hover {
    background-color: black;
    color: white;
  }