<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--    <link rel="stylesheet" type="text/css" media="all" th:href="@{css/styleRegister.css}" >-->
    <style>
    div.main_container2{
        margin: 30px auto;
        width: 1080px;
        height: 700px;
        border: 3px solid #2c989e;
        padding: 10px;
        border-radius: 2%;   
    }
    </style>
    <title>Document</title>
</head>
<body>
    <div class="main_container2">
        <form action="#" th:action="@{/create-recipe}" th:object="${recipe}"  method = "post">
            <div class = "list"><h2>title</h2><input type="text"  th:field="*{title}" id = "title" placeholder="Enter here your title" required></div>            
            <div class = "list"><h2>description</h2><textarea rows="20" cols="150" name="comment"  th:field="*{description}" ></textarea></div>
            <div class = "button"><button type="submit" formmethod="post" class="btn">Complete</button></div>
        </form>
    </div> 
</body>
</html>