<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--    <link rel="stylesheet" type="text/css" media="all" href="/css/styleLogIn.css">-->
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styleLogIn.css}">
    <title>Log In</title>
</head>
<body>
   <div class ="register_btn ">
        <div class="btn2">
            <a th:href="@{/signup}">Register</a>
        </div>
   </div>
   <div class="main_container">
        <form th:action="@{/login}" th:object="${user}" method = "post">
            <div class = "list"><h2>Email</h2><input type="email" name = "email" placeholder="Enter here your email" required/></div>
            <div class = "list"><h2>Password</h2><input type="password" name = "password" placeholder="Enter here your password"/></div>
            <div class = "button" ><button class="btn" type = "Submit">Login</button></div>
        </form>
   </div>
</body>
</html>