<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" media="all" type="text/css" th:href="@{css/recipe.css}">
    <style>
        .btn2{
            width: 50px;
            background-color: #2c989e;
            color: black;
            font-size: 28px;
            padding: 16px 30px;
            border: none;
            cursor: pointer;
            border-radius:100px;
            text-align: center;
        }
        a{
            text-decoration:none;
        }
    </style>
    <title>Recipes</title>
</head>
<body>
    <h1>Welcome</h1>
    <div class="btn2">
        <a th:href="@{/create-recipe}">+</a>
    </div>

            <div th:object="${user}">
                <span th:utext="*{email}"></span>
                <span th:utext="*{name}"></span>
                <span th:utext="*{surname}"></span>
            </div>
        <div class="all">
            <table>
                <tr>
                    <th>title</th>
                    <th>description</th>

                </tr>
                <tr th:each="recipe:${recipes}">
                    <td th:text="${recipe.title}"></td>
                    <td th:text="${recipe.description}"></td>
                </tr>
            </table>
        </div>
</body>
</html>