<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{css/styleRegister.css}" >
    <title>Registration Page</title>
</head>
<body>
    <div class="main_container">
        <form action="#" th:action="@{/register}" th:object="${user}"  method = "post">
            <div class = "list"><h2>Email</h2><input type="email"  th:field="*{email}" id = "email" placeholder="Enter here your email" required></div>
            <div class = "list"><h2>Password</h2><input type="password"  th:field="*{password}" id = "password" placeholder="Enter here your password" required></div>
            <div class = "list"><h2>Name</h2><input type="text" th:field="*{name}" id = "name" placeholder="Enter here your name" required></div>
            <div class = "list"><h2>Surname</h2><input type="text" th:field="*{surname}" id = "surname" placeholder="Enter here your surname" required></div>
            <div class = "list"><h2>Number</h2><input type="text"  th:field="*{telephoneNumber}" id = "telephoneNumber" placeholder="Enter here your telephone number" required></div>
            <div class = "button"><button type="submit" formmethod="post" class="btn">Register</button></div>
        </form>
    </div>  
</body>
</html>